body {
    background-color: rgb(15, 15, 20);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topnav {
    background-color: rgba(30, 30, 50, 0.5);
    overflow: hidden;
}

.topnav a {
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.topnav a.split {
    float: right;
}

.topnav a:hover {
    background-color: rgb(50, 50, 70);
    color: rgb(80, 80, 140);
}

.button-primary {
    background-color: rgb(30, 30, 50);
}

.text-white {
    color: white;
}

.text-secondary {
    color: rgb(180, 180, 210);
}

.text-alternative {
    color: rgb(130, 130, 160);
}

.text-bold {
    font-weight: bold;;
}

.default-bg {
    background-color: rgb(20, 20, 30);
}

hr.divider {
    border: 1px solid rgb(75, 75, 110);
}

.centered-content {
    max-width: 1500px;
    margin: auto;
    padding: 10px;
    font-size: 22px;
}

.container {
    overflow: hidden;
}

.avatar {
    float: left;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 10px 10px;
}